* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #eee;
    --bgcolor: #555;
    --bgcolor-darker: #333;
    --highlight: #ffc400;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: var(--textcolor);
  background-color: var(--bgcolor);
}

html {
  box-sizing: border-box;
  background: #eee;
  background: var(--bgcolor);
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 90vw;
  margin: 40px auto;
  background: var(--bgcolor-darker);
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.site-wrap a {
  color: var(yellow);
}

section {
  margin-bottom: 3em;
}

header {
  height: 180px;
  background: url(../img/img.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-weight: normal;
}

@media (min-width: 640px) {
  header {
    height: 320px;
  }
}

p {
  margin: 1rem 0;
}

h1 {
  color: white;
  font-size: 7vw;
  font-weight: 400;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.entry {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.entry a {
  color: var(--highlight);
  text-decoration: none;
}

.section-head {
  font-family: Lobster;
  font-weight: normal;
  color: var(--highlight);
  font-size: 2.5rem;
  text-transform: capitalize;
  padding-bottom: 0.25rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--highlight);
}
