* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #eee;
    --bgcolor: #555;
    --bgcolor-darker: #333;
    --highlight: #ffc400;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: var(--textcolor);
  background-color: var(--bgcolor);
}

html {
  box-sizing: border-box;
  background: #eee;
  scroll-behavior: smooth;
}



/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 90vw;
  margin: 40px auto;
  background: var(--bgcolor-darker);
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.site-wrap a {
  color: var(yellow);
}

/* this is part of the homework */

/* section {
  display: none;
}

section:target {
  display: block;
} */

section {
  margin-bottom: 3em;
}

header {
  height: 180px;
  background: url(../img/img.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-weight: normal;
}

@media (min-width: 640px) {
  header {
    height: 320px;
  }
}

p {
  margin: 1rem 0;
}

h1 {
  color: white;
  font-size: 7vw;
  font-weight: 400;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}
